<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<connectionStrings>

		<add name="ExamDbConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=NEW;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>

	</connectionStrings>

	<system.web>

		<compilation debug="true" targetFramework="4.6" />

		<httpRuntime targetFramework="4.6" />

		<sessionState timeout="60" />

		<customErrors mode="Off" />

	</system.web>

	<system.net>

		<mailSettings>

			<smtp from="yourgmail@gmail.com">

				<network
					host="smtp.gmail.com"
					port="587"
					userName=""
					password=""
					enableSsl="true" />
			</smtp>

		</mailSettings>

	</system.net>


	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>
				<assemblyIdentity
					name="BouncyCastle.Crypto"
					publicKeyToken="0e99375e54769942"
					culture="neutral" />

				<bindingRedirect
					oldVersion="0.0.0.0-1.8.10.0"
					newVersion="1.8.10.0" />
			</dependentAssembly>

		</assemblyBinding>
	</runtime>


</configuration>